@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(../imagens/textura-fundo.png);
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}

body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

#contato a {
    color: blue;
}

#contato a:hover, #contato a:focus {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;

}

header {
    background-color: whitesmoke;
    color: black;
    padding: 1em;
    text-align: center;
    border-bottom: solid 1px black;
    margin-bottom: 24px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 1em;
}

main {
    padding: 2em;
    width: 95%;
    margin: auto;
}

article {
    margin-bottom: 8px;
    background-color: whitesmoke;
    box-shadow: grey 1px 1px 5px;
    padding: 8px;
}

footer {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 1em;
    border-top: solid 1px black;
}

h1, nav, h2, h3, button {
    font-family: 'Orbitron', sans-serif;
    
}

h2, h3, p {
    padding: 1% 0;
}

article:first-child {
    background-image: url(../imagens/earth.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: top center;
    
    /* display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
    align-content: center; */
}

article:first-child h2, article:first-child p {
    color: white;
    text-shadow: black 1px 1px 2px;
    padding: 2%;
    animation: aparecer 3s ease-in-out;    
}

article:first-child h2 {
    font-size: 64px;
}

article:first-child p {
    font-size: 24px;
}

/* Regra de Animação */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.5);
        color: yellowgreen;
    }
    to {
        opacity: 1;
    }
}

footer img {
    width: 50px;
    
}

footer h2 {
    font-size: 1.2rem;
}   

footer p {
    font-size: 0.8rem;
}

section, figure {
    margin: 40px 0;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.8rem;
    font-weight: bold;
}

/*  Regras temporárias para facilitar a visualização */

h1, nav, h1 a, nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    padding: 5px 0;
    font-size: 1.8rem;
    letter-spacing: 4px;
}

h1 a {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

nav a {
    height: 60px;
    font-size: 1rem;
    width: 100%;
}

nav a:hover, nav a:focus {
    background-color: rgba(0, 0, 0, 0.315);
    color: black;
    text-shadow: black 1px 1px 2px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: solid 2px grey;
    border-radius: 4px;
    font-size: 0.9rem;    
}

label {
    font-weight: bold;
    font-size: 0.8rem;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
button:hover, button:focus {
    background-color: grey;
    cursor: pointer;
}

#voltar a {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    padding: 8px 16px;
    font-size: 0.7rem;
}

#voltar a:hover, #voltar a:focus {
    background-color: grey;
}

#voltar {
    position: fixed;
    top: auto;
    bottom: 6px;
    left: auto;
    right: 6px;
    z-index: 1000;
}

/* Media Queries */
@media screen and (min-width: 710px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }    
}

@media screen and (min-width: 750px) {
    .grupo {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

    .grupo section, .grupo figure {
            width: 49%;
            margin-top: 6px;
            margin-bottom: 6px;

        }
}

@media screen and (min-width: 1000px) {
    header {
        position: sticky;
        top: 0;
        height: 100px;
        display: flex;
        align-items: center;
    }

    #voltar {
        display: none;
    }

    #empresa, #produtos, #servicos, #contato {
        scroll-margin-top: 100px;
    }

    .container, main {
        max-width: 1000px;
    }

    html {
        font-size: 20px;
    }
}